<div *ngIf="recipe[0]" class="container section row">
  <div class="col l4 m4 s12 center">
    <img src="{{ recipe[0].image }}" alt="more information on {{ recipe[0].title }}">
  </div>
  <div class="col l8 m8 s12 center">
    <h4>{{ recipe[0].title }}</h4>
    <p>Calories: {{ recipe[0].calories }}</p>
    <h5>Ingredients</h5>
    <ul>
      <li *ngFor="let item of recipe[0].ingredientLines">
        {{ item }}
      </li>
    </ul>
    <a href="{{ recipe[0].url}}" aria-label="Go to external site for cooking instructions">Cooking instructions</a>
    <div *ngIf="loggedIn" class="section">
      <a (click)="saveRecipe()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
      <p class="m2">
    </div>
  </div>
</div>
