<div class="container">
  <div class="row">
    <div *ngFor="let item of health | keyvalue" class="class col s6 m3 l3">
      <label>
        <input type="checkbox" [(ngModel)]="item.value.check" />
        <span>{{ item.key }}</span>
      </label>
    </div>
  </div>

  <input [(ngModel)]="query" placeholder="Search for recipe" />
  <button class="btn" (click)="searchRecipes()">Search</button>
</div>

<div *ngIf="recipes" class="row">
  <div *ngFor="let item of recipes" class="card small col s12 m6 l2">
    <div class="card-image">
      <img src="{{ item.image }}" alt="">
    </div>
    <div class="card-content">
      <a [routerLink]="['/recipe', item.id]" routerLinkActive="active">{{ item.title }}</a>
    </div>
  </div>
</div>
